@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

html {
  height: 100%;
}

body {
  height: 100%;
}

div.container-fluid {
  height: 100%;
}

div.row {
  height: 100%;
}

div.row.thin-gutters {
  margin: 0 2px 0 2px;
}

div.row.thin-gutters > .col,
div.row.thin-gutters > [class*="col-"] {
  padding: 0 2px;
}

div.col-sm-8, div.col-sm-4 {
  height: 100%;
}

div#remote-media {
  display: flex;
  justify-content: flex-start;
  height: 43%;
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin: auto;
}

div#remote-media video {
  border: 1px solid #272726;
  margin: 3em 2em;
  max-width: 40% !important;
  background-color: #272726;
  background-repeat: no-repeat;
}


div#user-controls {
  height: 43%;
  width: 100%;
  margin: auto;
}

div#user-controls button {
  height: 30px;
  height: 30px;
  margin: 5px;
}

div.dominent_speaker {
  border: 4px solid red;
}

pre.language-javascript {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
}

pre.language-javascript a {
  color: aquamarine;
  text-decoration: underline;
}

pre.language-javascript a:hover {
  text-decoration: none;
}

div.card {
  border: none;
  overflow-y: auto;
}

div.input-group > select {
  width: 100%;
}

div.col-sm-8 > .card {
  height: 100%;
}

div.col-sm-4 > .card:first-child {
  height: 30%;
}

div.col-sm-4 > .card:last-child {
  height: 70%;
}




div#audiowaveform > canvas {
  background-color: #aaa;
}

div.bitrategraph {
  margin-top: 5px;
  text-align: center;
}

video#videopreview {
  width: 160px;
  background-color: lightgrey !important;
  background-image: url('https://static0.twilio.com/marketing/bundles/archetype/img/logo-wordmark.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

select#maxaudiobitrate,
select#maxvideobitrate {
  width: 100%;
}

@media (max-width: 900px) {
  div.col-sm-8, div.col-sm-4 {
    max-width: 100%;
    flex: 100%;
  }

  div.col-sm-8 {
    height: 40%;
  }

  div.col-sm-4 {
    height: 60%;
  }

  pre.language-javascript {
    font-size: 12px;
  }
}
