@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

html {
  height: 100%;
}

body {
  height: 100%;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

.align {
  align-content: flex-start;
}

div.container-fluid {
  height: 100%;
}

div.row {
  height: 100%;
}

div.row.thin-gutters {
  margin: 0 2px 0 2px;
}

div.row.thin-gutters > .col,
div.row.thin-gutters > [class*="col-"] {
  padding: 8px 8px;
}

div.col-sm-6, div.col-sm-6 {
  max-height: fit-content;
}

div#remote-media {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin: auto;
}

div.mediadiv {
  margin: 10px;
  width: 200px;
}

div#remote-media h6 {
  position: absolute;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  max-width: calc((100% - 16px) - 0.5em);
  margin: 0.25em;
  border-radius: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#roomName {
  padding: 2px;
  border: 1px solid black;
  margin: 2px;
}

div#remote-media video {
  max-width: 100% !important;
  max-height: 80% !important;
  background-color: #272726;
  background-repeat: no-repeat;
}

div#user-controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 40%;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

div.usercontrol {
  margin: 5px;
  border: 1px solid black;
  padding: 10px;
}

div.dominant_speaker {
  border: 4px solid red;
  background: aqua;
}

pre.language-javascript {
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
}

pre.language-javascript a {
  color: aquamarine;
  text-decoration: underline;
}

pre.language-javascript a:hover {
  text-decoration: none;
}

div.card {
  border: none;
  overflow-y: auto;
}

div.input-group > select {
  width: 100%;
}

div.col-sm-6, div.col-sm-6 {
  max-height: fit-content;
}

@media (max-width: 900px) {
  div.col-sm-8, div.col-sm-4 {
    max-width: 100%;
    flex: 100%;
  }

  div.col-sm-8 {
    height: 40%;
  }

  div.col-sm-4 {
    height: 60%;
  }

  pre.language-javascript {
    font-size: 12px;
  }
}
