@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html {
  height: 100%;
}

body {
  height: 100%;
}

div.container-fluid {
  height: 100%;
}

div.row {
  height: 100%;
}

div.col-sm-8, div.col-sm-4 {
  height: 100%;
}

pre.language-javascript > code {
  font-family: 'Roboto Mono', monospace;
}

div.col-sm-8 > .card {
  height: 100%;
  overflow-y: auto;
}

div.col-sm-4 > .card {
  height: 50%;
}

video#videoinputpreview {
  width: 100%;
}
