@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

pre.language-javascript {
  height: 100%;
}

pre.language-javascript > code {
  font-family: 'Roboto Mono', monospace;
}

.col-sm-4 > .card:first-child {
  margin: 0.5em 0;
}
