@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

div#controls {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

div#remote-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 43%;
  width: 100%;
  background-color: #fff;
  text-align: center;
  margin: auto;
}

div#remote-media video {
  border: 1px solid #272726;
  max-width: 80% !important;
  background-repeat: no-repeat;
  background-color: lightgrey !important;
  background-image: url("https://static0.twilio.com/marketing/bundles/archetype/img/logo-wordmark.svg");
  background-position: 50%;
}

div#controls div#room-controls,
div#controls div#preview div#log {
  width: 16em;
  margin: 0 1.5em;
  text-align: center;
}

div#controls div#preview button#button-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#controls div#preview button#button-preview img#button-preview-image {
  padding-right: 1em;
  color: white;
}

div#controls p.instructions {
  text-align: left;
  margin-bottom: 1em;
  font-size: 1.25em;
  color: #777776;
}

div#controls div#preview div#local-media {
  width: 270px;
  height: 202px;
  border: 1px solid #cececc;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: lightgrey !important;
  background-image: url("https://static0.twilio.com/marketing/bundles/archetype/img/logo-wordmark.svg");
  background-position: 50%;
  background-repeat: no-repeat;
}

div#controls div#preview div#local-media video {
  max-width: 100%;
  max-height: 100%;
  border: none;
}

button#button-preview {
  width: 270px;
}

div#controls div#log {
  border: 1px solid #686865;
}

div#controls div#room-controls {
  display: flex;
}

div#controls div#room-controls input {
  width: 100%;
  height: 2.5em;
  padding: 0.5em;
  text-align: center;
}

div#controls div#room-controls > button#button-leave {
  display: none;
  text-align: center;
  margin-top: 0;
}

div#room-controls > button {
  text-align: center;
}

div#log {
  width: 25em;
  height: 15em;
  min-height: 100%;
  max-height: 100%;
  margin-top: 3.125em;
  text-align: left;
  padding: 1.5em;
  overflow-y: scroll;
}

div#log p {
  color: #686865;
  font-family: "Share Tech Mono", "Courier New", Courier, fixed-width;
  font-size: 1.25em;
  line-height: 1.25em;
  margin-left: 1em;
  text-indent: -1.25em;
  width: 90%;
}
